

  <div class="front_title">
    <h1> WELCOME TO </h1>
    <br>
    <title_mom><%= link_to "MOMENTUM", root_path , :style=> 'color:#FFFFFF;', :class => 'css_class' %></title_mom>
    <br>
    <br>
    <p> to create new event <%= link_to "press here" , new_event_path(@event) %></p>
  </div>


