<big_title>
  <br>
  <br>
  <h1 align="center"> Final Project </h1>
  <h2 align="center"> CSCI4990 </h2>
</big_title>


<about_padd>
  <br>
  <br>
  <br>
  <h4> Milos Petkovic</h4>
  <br>
  <h4> - Active Record validations </h4>
  <h4> - User login </h4>
  <h4> - Mailgun and DelayedJob</h4>
</about_padd>

<div class="footer">
  <foot_small>
    <%= link_to 'About', about_path %>
    <%= link_to 'Home', root_path %>
  </foot_small>
</div>